.node {
  width: 26px;
  height: 26px;
  outline: 1px solid rgba(25, 120, 161, 0.349);
  margin-top: -1px;
  margin-right: 1px;
  display: inline-block;
}

.node-finish {
  background-image: url("/destination-node.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.node-start {
  background-image: url("/origin-node.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(195, 78, 206, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(12, 53, 71, 0.63);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: brown;
  }

  50% {
    transform: scale(1.4);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: greenyellow;
  }
}
